<div class="about-service">
  <h3>魂メイトは雀魂の対戦相手を募集する掲示板です</h3>
</div>

<%= form_with model: @post, local: true, class: "post-form" do |f| %>
  <%= render "layouts/error_messages", model: f.object %><br>
  <div class="field">
    <%= f.label "対局ルール"%><br>
    <%= f.collection_select(:rule_id, Rule.all, :id, :name, {}) %>
  </div>

  <div class="field">
    <%= f.label "名前" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "部屋ID" %><br>
    <%= f.text_field :room_number, maxlength: 5, placeholder: "半角数字のみ可", class: "room_id" %>
  </div>

  <div class="field">
    <%= f.label "募集メッセージ" %><br>
    <%= f.text_area :text %>
  </div>

  <div class="field">
    <%= f.label "パスワード " %><em>※パスワードを設定しておくと投稿の削除ができます</em><br>
    <%= f.password_field :password, maxlength: 4,  placeholder: "半角数字4ケタ", class: "password", autocomplete: "new-password" %>
  </div>

  <%= f.submit "投稿する", class: "submit" %>
<% end %>
