<div class="posts-wrapper">
   <% @posts.each do |post| %>
    <div class="post-content">
      <p class="name">名前：<%= post.name %></p>
      <p class="rule">ルール：<%= post.rule.name %></p>
      <p class="room_number">部屋id：<%= post.room_number %></p>
      <p class="text">募集メッセージ<br>
        <%= post.text %><br></p>
      <p class="updated_at">
        <%= post.updated_at %>
      </p>
    </div>
  <% end %>
</div>
