<header>
  <div class="header-left">
    <%= link_to "魂メイト", root_path %>
  </div>
  <div class="header-contents">
    <div class="full-4p">
      <%= link_to "四人東南戦", post_path(id: 2) %>
    </div>
    <div class="full-3p">
      <%= link_to "三麻東南戦", post_path(id: 3) %>
    </div>
    <div class="half-4p">
      <%= link_to "四人東風戦", post_path(id: 4) %>
    </div>
    <div class="half-3p">
      <%= link_to "三麻東風戦", post_path(id: 5) %>
    </div>
  </div>
</header>